<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de manejo de empleados</title>
</head>
<body>
   <h1 class = "text-center"> Create Departamento </h1>

                <form th:action="@{/departament/new}" th:object="${departament}" method="POST">
                    <div class="form-group">
                        <label>Nombre del departamento</label>
                        <input type="text" name="nombre" th:field="*{name}"
                               class="form-control"
                               placeholder="Nombre del departamento" />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}">
                        </p>

                    </div>
                    <div class="form-group">
                        <label>Localidad del departamento</label>
                        <input type="text" name="localidad" th:field="*{location}"
                               class="form-control"
                               placeholder="Localidad del departamento" />
                        <p th:errors="*{location}" class="text-danger"
                           th:if="${#fields.hasErrors('location')}">
                        </p>
                    </div>

                    <div class="mb-3">
                        <button type="submit" >Submit</button>
                        <button type="reset" >Borrar datos</button>
                    </div>

                </form>

</body>
</html>